# App
NEXT_PUBLIC_APP_URL=your-app-url-here

# Prisma
DATABASE_URL=your-database-url-here

# Auth - Access Token
ACCESS_TOKEN_SECRET=your-access-token-secret-here
ACCESS_TOKEN_EXPIRY=your-access-token-expiry-here

# Auth - Refresh Token
REFRESH_TOKEN_SECRET=your-refresh-token-secret-here
REFRESH_TOKEN_EXPIRY=your-refresh-token-expiry-here

# File Access Token (for secure downloads / previews)
FILE_ACCESS_TOKEN_SECRET=your-file-access-token-secret-here
FILE_ACCESS_TOKEN_EXPIRY=your-file-access-token-expiry-here

# UploadThing
UPLOADTHING_TOKEN=your-uploadthing-token-here